<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to My Recipes App!</h1>
    <p class="lead">This is the home page for Professional Ruby on Rails Developer Course on Udemy.</p>
    <%= link_to "Sign up now!", "", class: "btn btn-success btn-lg mt-4" %>
</div>

<div class="row">
    <div class="col-sm">
        <h3>View Recipes as Guest User</h3>
        <p class="lead">Browse and view recipes as a guest and Sign up later</p>
        <p><%= link_to "Browse Recipe Listings", "", class: "btn btn-outline-primary btn-sm" %></p>
    </div>
    <div class="col-sm">
        <h3>View Recipes as Guest User</h3>
        <p class="lead">Browse and view recipes as a guest and Sign up later</p>
        <p><%= link_to "Browse Recipe Listings", "", class: "btn btn-outline-primary btn-sm" %></p>
    </div>
    <div class="col-sm">
        <h3>View Recipes as Guest User</h3>
        <p class="lead">Browse and view recipes as a guest and Sign up later</p>
        <p><%= link_to "Browse Recipe Listings", "", class: "btn btn-outline-primary btn-sm" %></p>
    </div>
</div>