@import "bootstrap";

body {
    padding-top: 4rem;
}

footer {
    padding: 3rem 0;
}

.like-box {
    bottom: 0.4rem;
    right: 0.4rem;
}

.like-box a:hover {
    text-decoration: none;
}

.input-checkbox input{
    width: auto !important;
}
